<nav class="nav">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="/recipes">Recipes</NavLink>
    <NavLink class="nav-link" href="/plan">Plan</NavLink>
    <NavLink class="nav-link" href="/targets">Targets</NavLink>
    <NavLink class="nav-link" href="/upload">Upload</NavLink>
</nav>
